<form method="get">
	<table class="table no-border">
		<tbody>
		<tr>
			<td>
				<table class="table no-border table-hover valign-middle md0">
					<tbody>
					<tr>
						<td width="500">
							<input type="text" name="key" id="key" class="form-control" placeholder="请填写关键字" value="{:$_GET['key'] ?? ''}">
						</td>
						<td width="100">
							<button type="submit" class="btn blue btn-outline btn-block"><i class="fa fa-search"></i> 搜索</button>
						</td>
						<td>

						</td>
						<td>

						</td>
						<td>

						</td>
						<td>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</form>