
*{ text-decoration:none; list-style:none; margin:0; padding:0; font-size:12px; font-family: "Microsoft YaHei";
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 是否把边框 padding 也计算在像素内*/}
h1,h2,h3,h4,h5,ul,dl,p{font-weight: normal; padding:0; margin:0;font-size:12px; line-height:inherit;}
.left{float:left !important}
.right{float:right !important}
a{color:#000;}  
img{border:none;}
a:focus, a:hover{text-decoration:none;}
.m_none{margin:0 !important;}
