<div class="nav-title">
	<div class="pull-right">
		<a href="/{$Request.controller}/add" class="btn blue btn-100px btn-outline"><i class="icon-plus"></i> 新增</a>
	</div>
	<ul>
		<li class="active" data-baseUrl="/{$Request.controller}/index"><a href="/{$Request.controller}/index">店铺类型资质</a></li>
		<li data-baseUrl="" data-cert="0"><a href="/{$Request.controller}/index/type/0">品牌资质</a></li>
		<li data-baseUrl="" data-cert="1"><a href="/{$Request.controller}/index/type/1">行业资质</a></li>
		<li data-baseUrl="" data-cert="2"><a href="/{$Request.controller}/index/type/2">会员资质</a></li>
		<li data-otherUrl="/{$Request.controller}/{$Request.action}" class="hide"><a href="{$Request.url}">[title]</a></li>
	</ul>
</div>

