{extend name="public:base" /}
<!--导航-->
{block name="nav"}{include file="filterstatistics:nav" /}{/block}
{block name="search"}{include file="filterstatistics:search" /}{/block}
<!--主体内容-->
{block name="content"}
    <div class="row">
        <div class="col-md-2">
            下单总数量：<span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$orders.count}</span>
        </div>
        <div class="col-md-2">
            付款总数量：<span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$orders.pay_count}</span>
        </div>
        <div class="col-md-2">
            付款总金额：￥ <span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$orders.pay_amount}</span>
        </div>
        <div class="col-md-2">
            付现金金额：￥ <span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$orders.pay_cash}</span>
        </div>
        <div class="col-md-4">
            购物积分使用量：<span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$orders.pay_shopping_score} (合：￥ {:$orders.pay_shopping_score * 0.01} 元)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            申请退款笔数：<span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$refund.count}</span>
        </div>
        <div class="col-md-2">
            退款完成笔数：<span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$refund.complete_count}</span>
        </div>
        <div class="col-md-2">
            申请退款总金额：￥ <span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$refund.all_refund_amount}</span>
        </div>
        <div class="col-md-2">
            退款完成总金额：￥ <span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$refund.complete_amount}</span>
        </div>
        <div class="col-md-2">
            退款取消总金额：￥ <span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$refund.cancel_amount}</span>
        </div>
        <div class="col-md-2">
            正在退款总金额：￥ <span class="text_red" style="color: red; font-size: 18px; font-weight: bold">{$refund.now_amount}</span>
        </div>
    </div>
{/block}

<!--脚本-->
{block name="javascript"}
<script>
    $(function () {
        $(".btn-export").click(function () {
            $(this).closest('form').attr('target', '_blank').attr('action', '/filterstatistics/export').submit().attr('target', '_self').attr('action', '/filterstatistics/index');
        });
    });
</script>
{/block}