/*首页*/
.home{
	}
.home .main,.home .banner,.home .banner a{
	height:900px;
	width:100%;
	display:block;
	}
.home .main{
	position:relative;z-index:10;
	margin-top: -70px;
	margin-bottom:50px;
	}
.home .banner{
	position:absolute;
	left:0;
	top:0;
	z-index:15;
}
.home .banner a{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.home .banner_a{
	background:url(/images/index/banner_home.jpg) no-repeat center;
	}
.home .banner_a1{
	background:url(/images/index/bar1.jpg) no-repeat center;
}
.home .banner_a2{
	background:url(/images/index/bar2.jpg) no-repeat center;
}
.home .banner_a3{
	background:url(/images/index/bar3.jpg) no-repeat center;
}
.home .banner_a4{
	background:url(/images/index/bar4.jpg) no-repeat center;
}
.home .show{display: block;}
.home_login_main{
	margin:0 auto;
	width:1200px;
	position:relative;
	z-index:20;
	height: 1px;
	}
.home .home_login{
	width: 310px;
	background:url(/images/index/backbai.png) ;
	border-radius: 5px;
	padding: 20px 20px;
	position: absolute;
	right: 0;
	top: 110px;
	overflow: hidden;
	height: 420px;
	}
.home_login .title{
	width: 100%;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	display: block;
	height: 50px;
	margin-bottom: 5px;
	}
.home_login .yzm{
	position: absolute;
	right: 0;
	top: 0;
	}
.r{position: relative;overflow:hidden;}
.home_login #yan{
	float: left;
	}
.home .user,.home .mi{
	height:40px;
	line-height:40px;
	background:#fff;
	border:1px solid #d8d8d8;
	text-indent:20px;
	font-size:14px;
	width:100%;
	margin-bottom:16px;
	border-radius: 3px;
	}
.home .botton{
	width:100%;
	background:#fc4a51;
	color:#fff;
	font-size:14px;
	text-align:center;
	line-height:42px;
	border:none;
	border-radius: 3px;
	}
.home_reg{
	text-align: right;
	color: #fff;
	margin: 0 10px;
	line-height: 46px;
	float: right;
	font-size: 12px;
}
.home_wen{
	width:1230px;
	overflow:hidden;
	margin:0 auto;
	}
.home_wen .title{
	height:42px;
	line-height:42px;
	overflow:hidden;
	}
.home_wen h2 {
	float: left;
	color: #d7000f;
	font-size: 18px;
	margin-right: 10px;
	line-height: 42px;
	color: #666;
}
.home_wen .title a{
	float:right;
	color:#d7000f;
	font-size:12px;
	}
.home_wen .title span{
	line-height: 48px;
font-size: 12px;
float:left;
} 
.home_wen .list{
	float:left;
	margin-right:30px;
	width:380px;
	overflow:hidden;
	padding-bottom:20px;
	}
.home_wen ul{
	width:100%;
	overflow:hidden;
	position:relative;
	}
.home_ul{
	height: 238px;
}
.home_wen li{
	margin-bottom:10px;
	overflow:hidden;
	}
.home_wen_li{
	position:absolute;
	left:0;
	top:0;
	display:none;
	}
.home_wen_li.s{
	display:block;
	}
.home_wen dl{
	position: absolute;
	right: 0;
	bottom: 17px;
	height: 15px;
	}
.home_wen dd{
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #666;
    border-radius: 50%;
    float: left;
    margin-right: 6px;
}
.home_wen .dd{
	width: 10px;
height: 10px;
background: red;
margin-top: -2px;
	}
.home_wen .w_left{
	position:absolute;
	left:0;
	top:50%;
	margin-top:-35px;
	opacity: 0;
	}
.home_wen .w_right{
	position:absolute;
	right:0;
	top:50%;
	margin-top:-35px;
	transform: rotate(-180deg);
	opacity: 0;
	}
.home_ul:hover .w_left{
	opacity: 1;
	}
.home_ul:hover .w_right{
	opacity: 1;
	}
.home_wen h3{
		color:#fff;
		text-indent:22px;
		background:rgba(0,0,0,0.3);
		height:40px;
		line-height:40px;
		position:absolute;
	bottom:0;
	left:0;
	width: 100%;
	background:url(/images/index/hdian.png);
	}
.home_wen li img{
	width:100%;
	}
.home_wen h4{
	color: #666;
	background: url(/images/index/home_dian.png) no-repeat left;
	text-indent: 20px;
	width: 280px;
	float: left;
	background-position-x: 4px;
}
.home_wen h4:hover{
	color:red;
}
.home_wen span{
	color:#999;
	}
.home_wen li span{
	float:right;
	margin-right: 4px;
}

.home_wen span{
	color:#999;
	}

/*2017年09月23日添加*/
.news{
	overflow: hidden;
	min-height: 580px;
}
.w_text {
	min-height: 400px;
}
/*2017年09月23日添加end*/
/*百望新闻*/
.news .main{
	width:1200px;
	padding:0 5px;
	margin:0 auto;
	}
.news .nnav{
	line-height:42px;
	height:130px;
	width:100%;
	padding:20px 0;
}
.news .nnav a{
	width:100px;
	border-left:1px solid #fff;
	color:#666;
	text-align:center;
	float:left;
	font-size:16px;
	cursor: pointer;
	margin-top: 30px;
	height: 42px;
}
.news .nav_a,.news .nnav a:hover{
	color:#fff !important;
	background:#fc4a54 !important;
}

.news_ul{
	overflow:hidden;
	background: #fff;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	border-bottom: 1px solid #f8f8f8;
}
.news_ul:hover{
	-webkit-box-shadow: 0px 0px 11px #f2f2f2;
	box-shadow: 0px 0px 11px #f2f2f2;
	position: relative;
	z-index: 99;
}
.news_ul:hover li,.news_ul:hover .go{
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}
.news_ul:hover .go{
	opacity: 0;
}
.go_hide{
	opacity: 0;
}
.news_ul:hover .go_hide{
	opacity: 1;
	-webkit-transform: translateX(51px);
	-moz-transform: translateX(51px);
	-ms-transform: translateX(51px);
	transform: translateX(51px);
}
.news_ul li{
	height:200px;
	padding:30px 0;
	overflow:hidden;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.news_ul .img{
	float:left;
	height:140px;
	margin-right:36px;
	max-width:330px;
}
.news_ul .title{
	float:left;
	width:800px;
	line-height:60px;
}
.news_ul .title h3:hover{
	text-decoration:underline;
}
.news_ul .text{
	float:left;
	width:800px;
	margin-bottom:18px;
}
.home .text{
	height:46px;
	overflow:hidden;
}
.news_ul .title h3{
	color: #666;
	font-size: 16px;
	overflow: hidden;
	height: 60px;
	line-height: 60px;
	float: left;
	width: 580px;
}
.news_ul .time{
	color:#999999;
	font-size:18px;
	float:right;
	margin-right: 20px;
}
.news_ul .text p{
	color:#999999;
	font-size:14px;
	width:642px;
	overflow:hidden;
	line-height:20px;
	float:left;
}
.go,.go_hide{
	float: right;
	padding-left: 17px;
	border-left: 1px solid #e8e8e8;
	height: 26px;
	background: url(/images/index/icon_right.png) no-repeat center;
	background-position-x: center;
	width: 47px;
	background-position-x: 13px;
	margin: 10px 4px 10px 0px;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.news_ye{
	margin:36px 0;
	float:right;
	}
.news_ye a{
	float:left;
	}
.news_left{
	width:37px;
	height:38px;
	display:inline-block;
	background:url(/images/index/aa.jpg) no-repeat;
	}
.news_left:hover{
	background:url(/images/index/aaa.jpg) no-repeat;
	}
.news_right:hover{
	background:url(/images/index/aaa1.jpg) no-repeat;
	}
.news_right{
	width:37px;
	height:38px;
	display:inline-block;
	background:url(/images/index/aa1.jpg) no-repeat;
	}
.news_ye .a{
	width:37px;
	height:38px;
	display:inline-block;
	background:url(/images/index/ye.jpg) no-repeat;
	text-align:center;
	line-height:38px;
	color:#666;
	}	

.news_ye .aa,.news_ye .a:hover{
	background:url(/images/index/ye_yes1.png) no-repeat;
	color:#fff;
	}
/*详情文章页*/
.w_main{
	width:815px;
	overflow:hidden;
	float:left;
	}
.w_text{
	font-size:14px;
	padding:26px 0px; 
	}
.w_main .title {
    width: 100%;
    margin: 32px 0 0px 0;
    height: 70px;
    overflow: hidden;
    border-bottom: 1px solid #f8f8f8;
}
.w_main .time{
	float:left;
	height:55px;
	color:#999;
	font-size:18px;
	}
.w_main .title i{
	float:left;
	height:1px;
	width:35px;
	background:#d8d8d8;
	margin:12.5px 12px 50px 12px;
	}
.w_main h1{
	font-size:16px;
	color:#666;
	margin-bottom:5px;
	float:left;
	}
.w_main .title p{
	float:left;
	color:#999;
	width: 650px;
	height: 20px;
overflow: hidden;
white-space:nowrap;
text-overflow: ellipsis;
	}
.w_text .img{
	margin:12px 0;
	width:100%;
	}
.w_text p{
	margin-bottom:14px;
	color:#666;
	padding:0px 6px;
	text-indent:28px;
	}
.w_list{
	float: right;
	width: 350px;
	border-top: 1px solid #f8f8f8;
	margin-top: 100px;
}
.w_list li{
	padding: 23px 15px;
	border-bottom: 1px solid #f8f8f8;
	width:98%;
	transition: all ease-out .3s;
}
.w_list li:hover{
	border-bottom: 1px solid red;
	box-shadow: 0px 0px 8px #dbdbdb;
	margin-left:12px;
	}
.w_list .time{
	float: left;
	height: 30px;
	color: #999;
	font-size: 16px;
}
.w_list h3 {
	font-size: 16px;
	color: #666;
	margin-bottom: 5px;
	float: left;
	height: 22px;
	overflow: hidden;
	width: 186px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.w_list p{
	width:100%;
	font-size:14px;
	color:#999;
	overflow:hidden;
	}
.w_list i{
	float: left;
	height: 1px;
	width: 14px;
	background: #d8d8d8;
	margin: 11px 12px ;
}
.w_main .bg_f8{
	overflow:hidden;
	height:105px;
	}
.w_main .back_page p,.w_main .next_page p{
	width:200px;
}
.w_main .back_page:hover p,.w_main .next_page:hover p{
	width:122px;
}

/*帮助中心*/
.search{
	height: 200px;
	width: 100%;
	background:url(/images/index/help.png) no-repeat;
	margin-bottom:20px;
	}
.search .img{
	background:url(/images/index/search.png) no-repeat center;
	width: 80px;
	height: 130px;
	margin: 0px 0px 0 235px;
	float: left;
	}
.search form{
	margin-top: 75px;
	height: 50px;
	line-height: 50px;
	float: left;
	border-radius: 40px;
	width: 686px;
	position: relative;
	border: 4px solid rgba(255,255,255,0.4);
	overflow: hidden;
	margin-left: 340px;
}
.search .s{
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-indent: 47px;
    background: #fff url(/images/index/sss.png) no-repeat left;
    border: none;
    float: left;
    background-position-x: 12px;
}
.search .s_btn {
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    background: red;
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    border-radius: 40px;
	font-size:16px;
}
.help_left{
	margin-right:65px;
	width:240px;
	overflow:hidden;
	margin-bottom: 50px;
float: left;
	}
.help_left h2{
	color: #333;
	font-size: 18px;
	height: 56px;
	line-height: 35px;
	border-bottom: 1px solid #f8f8f8;
	font-weight: bold;
	padding-left: 11px;
	}
.help_left li{
	line-height: 50px;
	width: 100%;
	border-bottom: 1px solid #f8f8f8;
	color: #333;
	line-height: 50px;
	padding: 0 12px;
	overflow: hidden;
	}
.help_left h3{
	color:#333;
	width:100%;
	height: 50px;
    line-height: 50px;
    cursor: pointer;
	}
.help_left li i {
    width: 9px;
    height: 9px;
    float: right;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
    margin-top: 18px;
}
.help_left li .i{
    transform: rotate(135deg);
    margin-top: 21px;
}
.help_left .nav b{
	height: 10px;
	width: 10px;
	float: left;
	background: #d8d8d8;
	margin-top: 21px;
	border-radius: 50%;
	margin-right: 10px;
}
.help_left .nav a{
	display:block;
	width:100%;
	color:#666;
	height:50px;
	}
.help_left .nav{
	margin-bottom: 18px;
	display:none;
}
.help_left .show_{
	display:block;
	}
.help_left .red1 b{
	background:#fc4a51;
	}
	
.help_main{
	overflow:hidden;
	float:left;
	width:895px;
	}
.help_main h2{
	color: #333;
	font-size: 18px;
	height: 56px;
	line-height: 35px;
	border-bottom: 1px solid #f8f8f8;
	font-weight: bold;
	padding-left: 45px;
}
.help_main .issue{
	background:url(/images/index/help1.png) no-repeat left;
	background-position-y: 11px;
	background-position-x: 11px;
	}
.help_main .ks{
	background:url(/images/index/help2.png) no-repeat left;
	background-position-y: 11px;
	background-position-x: 11px;
	}
.help_main .list{
	overflow:hidden;
	padding:20px 150px 20px 12px;
	}
.help_main .list li{
	float: left;
	width: 330px;
	line-height: 50px;
}
.help_main .title_crumbs{
	margin-left:20px;
}
.help_main .title{
	padding-left:35px;height: auto !important;
}

.ks_main{
	padding:30px 12px;
	}
.ks_main .s {
	width: 362px;
	overflow: hidden;
	padding-bottom: 90px;
}
.ks_main h3{
	width:100%;
	background:#fc4a51;
	color:#fff;
	text-align:center;
	line-height:30px;
	border-radius: 5px;
}
.ks_main .s div{
	padding:10px;
}
.ks_main .s div a{
	line-height:45px;
	width:113.88px;
	float:left;
	text-align:center;
	height:45px;
	overflow:hidden;
	color:#666;
}
.s66{
	width: 227.6px !important;
	text-align: left;
}
.t_left div a{
	text-align: left !important;
}


/************** aap下载 *****************/
.app{
	position: relative;
	width:1200px;
	margin: auto;
}
.app .img{
	width:100%;
}
.app .er{
	width:165px;
	position: absolute;
	left:396px;
	top:245px;
}
.app .border,.app .border1{
	width:265px;
	height:70px;
	border:1px solid #dddde4;
	position:absolute;
	left:108px;
	top:246px;
	border-radius: 5px;
	background:#fff;
}
.app .border1{
	left:108px;
	top:340px;
}
.app .border:hover{
	-webkit-box-shadow: 0px 0px 7px #fff;
	box-shadow: 0px 0px 7px #fff;
}
.app .border span{
	color: #5990f4;
	font-size: 13px;
	line-height: 25px;
	display: block;
	margin-top: 10px;
}
.app .border strong{
	color:#5990F4;
	font-size:16px;
}
.app_logo,.app_logo1{
	background:#f9f9f9 url(/images/index/apple.png) no-repeat center;
	border-right:1px solid #dddde4;
	width:66px;
	float: left;
	height: 100%;
	margin-right:16px;
}
.app_logo1{
	background:#f9f9f9 url(/images/index/Android.png) no-repeat center;
}


.w1200{
	overflow:hidden;
}
.header .nav{
	height: 30px;
}
.header .nav a:hover{
	color: #fc4a51 !important;
}
.help_left h3{
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}
.help_left .nav a{
	height:50px;
}
.news_ul .text{
	height: 46px;
	overflow: hidden;
}

.home_wen .title{
	overflow:hidden;
}
.home_wen .title span{
	float:left;
}
.home_wen h2 {
	line-height:42px;
}

/* 兼容IE以下 */
.itt{
	position: absolute;
	top: 0;
	font-size: 14px;
	line-height: 40px;
	left: 20px;
	outline: none;
	z-index: 1;
	color: #999;
}
.r_input,.mi{
	position: relative;
	z-index: 5;
	background:rgba(0,0,0,0) !important;
}
.rrr{
	background: #fff;
	overflow: hidden;
	height: 40px;
	margin-bottom: 16px;
}


.backabout{
	background: url(/images/index/backabout.jpg) no-repeat center;
}
.about_ti {
	margin: 25px 78px;
	color: #fff;
	background: #c7000c;
	border-radius: 4px;
	float: left;
	border: none;
	height: 32px;
	width: 100px;
	font-size: 14px;
}


/*/业务中心/	*/
.c_main{
	overflow: hidden;
	margin: 60px 0px 80px 0;
}
.chuan_h5,.centent_page.s{color:#666;}	
.mar10{
	margin-top: 10px !important;
}
.c_kuai3{
	float:left;
	width:31%;
	margin-left:3.5%;
	overflow:hidden;
}
.c_kuai3 img{
	width:100%;
}
.c_kuai3:first-child{
	margin:0;
}
.c_kuai3 h3{
	color:#666666;
	line-height:40px;
}


/** 官网登录后 **/
.log{width:290px;height:382px;background: url(/images/index/ico/b90.png);
	padding: 15px;
	position: absolute;
	right: 0;
	top: 80px;
	border-radius: 4px;
}
.log_title{height:22px;width:100%;line-height:22px;overflow:hidden;margin-bottom:5px;}
.log_title h4{float:left;color:#333;font-size:14px;margin-right: 10px;}
.log_title i{float:left;margin-right:4px;width:22px;height:22px;}
.log_title .i1{background: url(/images/index/ico/icol-1.png) center no-repeat}
.log_title .i2{background: url(/images/index/ico/icol-2.png) center no-repeat}
.log_title .i3{background: url(/images/index/ico/icol-3.png) center no-repeat}
.log_title .i4{background: url(/images/index/ico/icol-4.png) center no-repeat}
.log_title .i5{background: url(/images/index/ico/icol-5.png) center no-repeat}
.log_title .i6{background: url(/images/index/ico/icol-6.png) center no-repeat}
.log_title .icon-type-0{background: url(/images/index/ico/icol-type-0.png) center no-repeat}
.log_title .icon-type-1{background: url(/images/index/ico/icol-type-1.png) center no-repeat}
.log_title .icon-tel-0{background: url(/images/index/ico/icol-tel-0.png) center no-repeat}
.log_title .icon-tel-1{background: url(/images/index/ico/icol-tel-1.png) center no-repeat}
.log_title .icon-auth-0-0{background: url(/images/index/ico/icol-auth-per-0.png) center no-repeat}
.log_title .icon-auth-0-1{background: url(/images/index/ico/icol-auth-per-1.png) center no-repeat}
.log_title .icon-auth-1-0{background: url(/images/index/ico/icol-auth-com-0.png) center no-repeat}
.log_title .icon-auth-1-1{background: url(/images/index/ico/icol-auth-com-1.png) center no-repeat}

.log_x{width:100%; overflow:hidden; border-bottom: 1px solid #d8d8d8;padding-bottom: 8px;}
.log_x span{float:left;width:50%;line-height:20px; height:20px;color:#333;font-size: 12px;}
.yin{overflow:hidden;width:100%;border-bottom: 1px solid #d8d8d8;margin-bottom: 12px;}
.yin1{color:#333;font-size:12px;margin: 10px 0 2px 0;width:100%;}
.yin2{color:#e60012;margin-bottom:10px;font-size:16px;}
.log_btn{background:#fb4a52; color:#fff; font-size:12px;padding: 0 0 0 8.5px;width:42px; height:42px; display: inline-block;margin-left: 15px;}
.log_go{border-radius: 3px; background:#fb4a52; color:#fff; font-size:14px; text-align: center;height:42px;
	display: inline-block; line-height:42px;margin-left: 10px;margin-top: 12px;width:238px;}


/*//loding*/
.hloding {
	height: 880px;
	width: 100%;
}
.loding{
	width:100%;
	background: url(/images/index/banner11.jpg) no-repeat center; height:950px;
	overflow: hidden;
	position: absolute;
	top: 36px;
	left: 0;}
/*new10-13*/
.home_news{
	height: 70px !important;
	border-bottom: 1px solid #f8f8f8;
}
.home_h4{
	float:left;
	color:#fc4a51;
	font-size:24px;
}
.home_h41{
	color: #999999;
	font-size: 12px;
	margin-left: 4px;
	margin-top: 16px;
	float: left;
}
.hnav{
	float:right;
	overflow:hidden;
}
.hnav a{
	color:#666;
	font-size:14px;
	float:left;
	padding: 0 16px;
	height: 26px;
	line-height: 26px;
	border-radius: 2px;
	cursor: pointer;
}
.hnav .s{
	color:#fff;
	background:#fc4a51;
	margin-top:10px;
}
.biaoqian{overflow:hidden;width: 800px;}
.biaoqian span{
	font-size:12px;
	color:#999;
	height:16px;
	float:left;
	background: url(/images/index/bor11.jpg) right no-repeat;
	margin-right: 5px;
	padding-right: 5px;
}
.biaoqian span:last-child{
	background:none;
}
.nright .title h3{
	float:right;
	text-align: right;
}
.nright .time{
	float:left;
}
.nright .text p{
	float:right;
}
.nright .go,.nright .go_hide{
	float:left;
}
.nright  .biaoqian{
	text-align: right;
	float: right;
	width: auto;
	margin-right: 25px;
}
.banner_red{
	background:#fe4c53;
	height:200px;
	overflow: hidden;
}



/*页数*/
.ye_main{
	margin-top:36px;
	height:32px;
	margin-bottom:64px;
	overflow:hidden;
	line-height:32px;
	color:#999;
}
.goo{
	float: right;
	margin-right:8%;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #c8c8c8;
	text-align: center;
	color: red !important;
	width: 40px;
	margin-left: 14px;
	font-size:14px;
}
.ye{
	float:right;
	font-size:14px;
	font-family:"å®‹ä½“";
	color:#999;
}
.ye input{
	width:56px;
	border:1px solid #c8c8c8;
	border-radius:3px;
	color:#999;
	height:31px;
	margin:0 8px;
	text-align:center;
}
.ye_{
	float:right;
	color:#999;
}
.ye_ a{
	color:#999;
	text-align:center;
	width:32px;
	height:32px;
	border-radius:3px;
	border:1px solid #c8c8c8;
	float:left;
	margin-right:10px;
	font-size:14px;
}
.ye_ span{
	float: left;
	width: 22px;
	height: 32px;
	text-align: center;
	margin-right: 10px;
}
.ye_right{
	height:32px;
	width:40px;
	border:1px solid #c8c8c8;
	border-radius:3px;
	float:right;
	background:url(/images/index/right_jian.png) no-repeat center;
	margin-right:28px;
	margin-left:12px;
}
.ye_left{
	height:32px;
	width:40px;
	border:1px solid #c8c8c8;
	border-radius:3px;
	float:right;
	background:url(/images/index/left_jian.png) no-repeat center;
	margin-right:10px;
}
.ye_btn{
	background:#fc4a51;
	color:#fff !important;
	border:none !important;
}

/*/业务中心/*/
.bannertop{
	width:100%;
	overflow:hidden;
	height:200px;
}
.businessimg{
	background:#fe4c53 url(/images/index/banenr111.jpg) no-repeat center;
	height: 100%;
	width: 100%;
	display: block;
}
.rong{
	background:#fe4c53 url(/images/index/rong.jpg) no-repeat center;
	height: 100%;
	width: 100%;
	display: block;
}
.imgnews{
	background:#fe4c53 url(/images/index/banenrnews.jpg) no-repeat center;
	height: 100%;
	width: 100%;
	display: block;
}




































